on init
    chown system system /proc/fastchg_fw_update
    chown system system /sys/class/oplus_chg/usb/otg_switch
    chown system system /sys/class/oplus_chg/battery/short_c_hw_status
    chown system system /sys/class/oplus_chg/battery/short_c_hw_feature
    chown system system /sys/class/oplus_chg/battery/short_c_limit_chg
    chown system system /sys/class/oplus_chg/battery/short_c_limit_rechg
    chown system system /sys/class/oplus_chg/battery/short_ic_volt_thresh
    chown system system /sys/class/oplus_chg/battery/short_ic_otp_status
    chown system system /sys/class/oplus_chg/battery/short_ic_otp_value
    chown system system /sys/class/oplus_chg/battery/ship_mode
    chown system system /sys/class/oplus_chg/battery/cool_down
    chown system system /sys/class/oplus_chg/battery/bcc_current
    chown system system /sys/class/oplus_chg/battery/bcc_exception
    chown system system /sys/class/oplus_chg/battery/call_mode
    chown system system /sys/class/oplus_chg/battery/mmi_charging_enable
    chmod 0664 /sys/class/oplus_chg/battery/soc_ajust
    chown system system /sys/class/oplus_chg/battery/soc_ajust
    chown system system /sys/class/oplus_chg/usb/otg_switch
    chown system system /sys/class/oplus_chg/usb/water_detect_feature

on boot
    chown system system /proc/touchpanel/tp_fw_update
    chown system system /proc/touchpanel/oplus_tp_limit_enable
    chown system system /proc/touchpanel/oplus_tp_direction
    chown system system /proc/touchpanel/double_tap_enable
    chown system system /proc/touchpanel/coordinate
    chown system system /proc/touchpanel/game_switch_enable
    chown system system /proc/touchpanel/fp_enable
    chown system system /proc/touchpanel/baseline_test
    chown system system /proc/touchpanel/kernel_grip_handle
    chown system system /proc/touchpanel/curved_size
    chown system system /proc/touchpanel/charge_detect
    chown system system /proc/touchpanel/wireless_charge_detect

    chown system system /proc/tbatt_pwroff
    chown system system /proc/charger/charger_factorymode_test
    chown system system /proc/charger/integrate_gauge_fcc_flag

    chown system system /sys/class/power_supply/battery/smooth_switch
    chown system system /sys/class/power_supply/battery/soc_notify_ready
    chown system system /sys/class/power_supply/battery/charging_enabled
    chown system system /sys/class/power_supply/usb/type
    chown system system /sys/class/power_supply/battery/restore_soc
    chown system system /sys/class/power_supply/battery/soc_reporting_ready
    chown system system /sys/class/power_supply/battery/battery_info
    chown system system /sys/class/power_supply/battery/battery_info_id

    chown system system /proc/charger/hmac
    chown system system /sys/class/oplus_chg/battery/call_mode
    chown system system /sys/class/oplus_chg/battery/cool_down
    chown system system /sys/class/oplus_chg/battery/bcc_current
    chown system system /sys/class/oplus_chg/battery/bcc_exception
    chown system system /sys/class/oplus_chg/battery/mmi_charging_enable
    chown system system /sys/class/oplus_chg/battery/ship_mode
    chown system system /sys/class/oplus_chg/usb/otg_switch
    chown system system /sys/class/oplus_chg/battery/em_mode